services:
  server:
    container_name: server
    image: server_image
    build:
      context: .
      dockerfile: docker/Dockerfile.server
      target: development
    command: sh -c 'yarn && yarn start:dev'
    restart: always
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - ${PORT}:${PORT}
